:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 1rem;
  margin: 3em;
  background: #2a363b;
  color: #fff;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden auto;
  -webkit-user-select: none;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ffd31d;
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:focus {
  outline: none !important;
}

header.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #2a363b;
  z-index: 7;
  padding: 0.625rem 0;
  margin-left: 0.95rem;
}

header.header h1 {
  text-transform: capitalize;
  font-size: 2.5vmax;
}

header.header .author {
  color: #ffd31d;
  font-weight: 700;
  text-transform: uppercase;
}

.no-notes {
  padding: 6.2rem 0px;
  text-align: center;
  font-size: 1.2vmax;
  text-transform: capitalize;
}

.no-notes.hidden {
  display: none;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form .inputText {
  padding: 0.625rem;
  border-radius: 5px;
  border: 2px solid #ffd31d;
  width: 30%;
  margin: 15px;
  font-size: 1rem;
}

.form .inputText::-webkit-input-placeholder {
  font-weight: bold;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form .inputText:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form .btn {
  padding: 0.7rem 0.625rem;
  border-radius: 10px;
  background-color: #ffd31d;
  color: #444;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  min-width: 10%;
  text-transform: capitalize;
  border: 2px solid transparent;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.form .btn:hover {
  background-color: transparent;
  color: #ffd31d;
  border-color: #ffd31d;
}

.form .btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

h2,
p {
  font-size: 100%;
  font-weight: normal;
}

ul {
  overflow: hidden;
  padding: 3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  margin: 1em;
  margin-bottom: 3rem;
  position: relative;
}

ul li:not(:last-of-type) {
  margin-right: 3rem;
}

ul li:nth-child(even) a {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) a {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
  min-height: 20rem;
  width: 20rem;
  padding: 2rem 1em;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
          box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  cursor: default;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
  overflow-wrap: anywhere;
}

ul li a:hover, ul li a:focus {
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
          box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  position: relative;
  z-index: 5;
}

ul li a h2 {
  font-size: 1.35rem;
  font-weight: bold;
  padding-bottom: 0.625rem;
}

ul li a p {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.1rem;
  width: 90%;
  margin: 0 auto;
}

ul li a .delete {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 4px double white;
  font-weight: bold;
}

ul li a .edit {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 15px;
  padding: 0.625rem;
  background-color: #2a363b;
  text-transform: capitalize;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 1em;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    margin-bottom: 0.65rem;
  }
  .new-note-title-input,
  .new-note-body-input {
    display: block;
    width: 100% !important;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin-left: 0;
  }
  .btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    margin-left: 0;
  }
  header.header {
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  ul li a {
    min-height: 14rem;
    width: 14rem;
  }
}
/*# sourceMappingURL=style.css.map */